@import "../styles/global";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $headerHeight;
  background-color: $whiteColor;
  box-shadow: $shadow;
  z-index: 1000;

  .container {
    justify-content: space-around;
    align-items: center;
    flex: 1;
    padding-left: $freeSpace;
    padding-right: $freeSpace;

    button {
      margin-left: $freeSpace;
      font-size: 17px;
      @include btn();
    }
  }

  .logo {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: $freeSpace;
    padding-right: $freeSpace;
    font-size: 24px;
  }
}
