@import "../styles/global";

.modalInputOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  .modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $whiteColor;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: -($freeSpace + $headerHeight);

    .modalHeader,
    .modalBody,
    .modalFooter {
      padding: $freeSpace;
    }
    .modalBody {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .modalHeader {
      min-height: 60px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
    }

    .modalTitle {
      font-weight: bold;
    }

    .modalContent {
      flex-grow: 1;
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .btn {
      margin-left: $freeSpace;
      margin-top: $freeSpace;
      font-size: 17px;
      @include btn();
    }
  }
}
