@import "../styles/global";

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  .modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $whiteColor;
    min-height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -($freeSpace + $headerHeight);

    .modalHeader,
    .modalBody,
    .modalFooter {
      padding: $freeSpace;
    }

    .modalHeader {
      min-height: 60px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;
    }

    .modalTitle {
      font-weight: bold;
    }

    .modalFooter {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .modalFooter button:last-child {
      margin-left: $freeSpace;
    }

    .btn {
      font-size: 17px;
      @include btn();
    }
  }

  @media (max-width: 767px) {
    .modalWindow {
      width: 100%;
      .modalHeader,
      .modalBody,
      .modalFooter {
        margin-right: $freeSpace;
        margin-left: $freeSpace;
      }
    }
  }
}
